<%= render "shared/header" %>

<%# ▼店舗概要 %>
<div class="user-show">
  <div class="user-box">
    <h2 class ="name">
      <%= @user.nickname%>
    </h2>
    <div class="user-img-content">
      <%= image_tag @user.image,class:"user-box-img"%>
    </div>

    <div class="user-introduction">
      <p class="introduction-detail"><%= simple_format(@user.introduction) %></p>
    </div>

    <% if user_signed_in? && current_user.id == @user.id %>
      <%= link_to 'ユーザー編集', edit_user_path, class:"user-edit" %>
      <%= link_to 'ユーザー削除', user_path, method: :delete, class:"user-destory" %>
    <% end %>

    <div class="user-info">
      <table class="detail-tabel">
        <tbody class="fistChild-lastChild">
          <tr class="firstChild">
            <th class="detail-user">カテゴリー</th>
            <td class="detail-value"><%= @user.category.name %></td>
          </tr>
          <tr class="firstChild">
            <th class="detail-user">TEL</th>
            <td class="detail-value"><%= @user.phone_number %></td>
          </tr>
          <tr class="firstChild">
            <th class="detail-user">住所</th>
            <td class="detail-value"><%= @user.address %></td>
          </tr>
          <tr class="firstChild">
            <th class="detail-user">オフィシャルサイト</th>
            <td class="detail-value"><%= raw Rinku.auto_link(h(@user.url)) %></td>
          </tr>
          <tr class="firstChild">
            <th class="detail-user">営業時間・定休日</th>
            <td class="detail-value"><%= @user.business_hour %></td>
          </tr>
        </tbody>
      </table>
      <div class="map">
        <%= render partial: "map", locals: { user: @user } %>
      </div>
    </div>
    <h3 class="card-heading">
      ニュース
    </h3>
    <div class="user__card">
      <%= render partial:'posts/post', collection: @user.posts %>
    </div>
  </div>
</div>
<%# ▲店舗概要 %>